body {
    background-color: rgb(251, 251, 251);
    color: black;
}

/* motyw ciemny */
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(30, 30, 30);
        color: white;
    }
}

body,
p,
li,
h1, h2, h3, h4, h5, h6,
a,
code, pre {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  line-height: 2;
}

a {
    color: #FF9F0A;
}

code, pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}


h2 a {
    font-size: 18px;
}
