body {
    background-color: rgb(251, 251, 251);
    color: red;
}

/* motyw ciemny */
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(30, 30, 30);
        color: green;
    }
}

.site-header {
    display: none !important;
}

.site-footer {
    display: none !important;
}
